- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Création du répertoire du site
  file:
    path: /var/www/html
    state: directory
    mode: "0755"

- name: Déploiement de la page d'accueil
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: Restart nginx

- name: Activer la configuration (Lien symbolique)
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link
  notify: Restart nginx

- name: Démarrer Nginx enfin proprement
  service:
    name: nginx
    state: started
    enabled: yes