[Unit]
Description=Mon API Node.js
After=network.target postgresql.service

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ app_directory }}
ExecStart=/usr/bin/node index.js
Restart=always
# On passe les infos de la DB via des variables d'environnement
Environment=PORT={{ app_port }}
Environment=DB_HOST=localhost
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASS={{ db_password }}

[Install]
WantedBy=multi-user.target