[Unit]
Description=Mon API Node.js
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ app_directory }}
ExecStart=/usr/bin/node index.js
Restart=always

# --- Variables d'environnement ---
Environment=PORT={{ app_port }}
# On pointe vers le serveur de base de données (db1)
Environment=DB_HOST=db1
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
# On utilise le secret déchiffré
Environment=DB_PASS={{ vault_db_password }}

[Install]
WantedBy=multi-user.target